main {
    width:100%;

}
 #hero{
    background-image:url(../../../public/img-one-lease/home/fondcar.jpg); ;
    background-size:over;
}
main #hero #text {
    color: white;
    display: block;
    padding: 4rem;
}
main #hero #text h2 {
    font-size: 2.5rem;
    padding:2rem 14rem 1rem 2rem;
    font-weight: 400;
    
}
main #hero .card {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}
