*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom:0.3rem solid gainsboro;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#000;    
}
.logo{
    font-size:2rem;
}

.nav-links{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    list-style: none;
    color: #000;
    }

.nav-links :hover{
    color:skyblue
} 
.navbar .nav-links .active{
    color:skyblue
}

.home,
.about,
.lld,
.serve,
.av,
.team,
.fi,
.res,
.new,
.btnnav {
text-decoration: none;
padding: 10px 20px;
margin:0 ;
cursor:pointer;
}


.btnnav{
    border: 0;
    background-color: #57007f;
    color:white;
    font-size: 1rem;
    padding: 0.3rem 1.4rem;
    border-radius:0.5rem;
    border: white;
}
 .mobile-menu-icon{
    display: none;
 }


@media(max-width: 1440px) {
    
    .logo{
        display: flex;
        position: absolute;
        top:0.5rem;
        left:6rem;
        
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position:absolute;
        display: block;
        list-style: none;
        background-color:white;
        height: 100%;
        top: 3rem;
        transition: all 0.5s ease-out;
        width: 100%;
    }
.home,
.about,
.lld,
.serve,
.av,
.team,
.fi,
.res,
.new,
.btnnav  {
    color: #000;
    background-color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;    
}
.mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        top:0;
        right:2rem;       
    }  
}


